@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.white {
    color: #fff;
}

.content-row:hover {
    background-color: #aaa !important;
}

.blue {
    background-color: #03a9f4;
}

.navbar-app {
    background-color: #03a9f4;
    color: white;
}

.btn-nav {
    background-color: #03a9f4;
    color: white !important;
}


/* The starting CSS styles for the enter animation */

.modal.ng-enter {
    transition: 0.4s ease-out all;
    opacity: 1;
    top: -100%;
    bottom:100%;
}


/* The finishing CSS styles for the enter animation */

.modal.ng-enter.ng-enter-active {
    opacity: 1;
    bottom:0%;
    top: 0%;
}


/* The starting CSS styles for the enter animation */

.modal.ng-leave {
    transition: 0.4s ease-in all;
    opacity: 1;
    top: 0%;
     bottom:0%;
}


/* The finishing CSS styles for the enter animation */

.modal.ng-leave.ng-leave-active {
    opacity: 1;
    top: -100%;
     bottom:100%;
}

.cal-slide-content {
    background-color: #222;
}

.btn.btn-amber.active {
    background-color: #ff8f00;
    -webkit-box-shadow: -17px 2px 41px -7px rgba(0,0,0,0.67);
-moz-box-shadow: -17px 2px 41px -7px rgba(0,0,0,0.67);
box-shadow: -17px 2px 41px -7px rgba(0,0,0,0.67);
    top: 0px;
    z-index: 1001;
}

.btn.btn-amber {
    background-color: #ff6f00;
    border-radius: 0;
    top: +2px;
}

.btn.btn-amber:hover {
    color: #fff;
    /*    top:-3px;*/
}

.btn.btn-blue.active {
    background-color: #00b0ff;
    top: 0px;
    -webkit-box-shadow: 3px 1px 20px -2px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 3px 1px 20px -2px rgba(0, 0, 0, 0.67);
    box-shadow: 3px 1px 20px -2px rgba(0, 0, 0, 0.67);
    z-index: 1001;
}

.btn.btn-blue {
    background-color: #0091ea;
    border-radius: 0;
    top: +2px;
}

.btn.btn-blue:hover {
    color: #fff;
    /*    top:-3px;*/
}

.cal-slide-content a.event-item {
    color: #440000 !important;
}

.fa {
    color: #400000;
}

@media (min-width: 768px) {
    .modal-content {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .modal-content {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .modal-content {
        width: 1170px;
    }
}

.modal-content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.unstyled.list-unstyled.section.text-amber {
    z-index: 1000;
    position: relative;
    -webkit-box-shadow: -3px 1px 28px 1px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: -3px 1px 28px 1px rgba(0, 0, 0, 0.67);
    box-shadow: -3px 1px 28px 1px rgba(0, 0, 0, 0.67);
}

.btn-floating.btn-large {
    width: 55.5px;
    height: 55.5px;
}

.btn-large {
    height: 54px;
    line-height: 56px;
}

.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}

.btn-floating.btn-large i {
    line-height: 55.5px;
}

.btn-large i {
/*    font-size: 1.6rem;*/
}

.btn-floating i {
/*    width: inherit;*/
    display: inline-block;
    text-align: center;
    color: #fff;
/*
    font-size: 2rem;
    line-height: 37px;
*/
}

.btn-floating{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn-cyan{
    background-color: #26a69a;
    color:white;
}
.btn-cyan:hover{
    background-color: #26a69a;
    color:white;
}
.btn-calendar{
    position:absolute;
    bottom: -10px;
    text-align: center;
    left:50%;
    width:50%;
    color:white;
    opacity: 0;
    cursor: pointer;
/*    display: none;*/
    transition: 0.2s ease-in all;
}
.btn-calendar.left{
    background-color: #fff;
    color: #1e90ff;
    left:0%;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #ddd;


}
.btn-calendar.right{
    background-color: #fff;
    color: #ff6f00;
    left:50%;


}
[class*="cal-cell"]:hover .btn-calendar{
/*    display:block;*/
    opacity: 1;
    bottom: 0px;

}
.cal-day-outmonth:hover .btn-calendar{
    opacity: 0;
    bottom: -10px;
}
.btn-calendar.left.work{
    background-color: #00b0ff;
    color: #fff;
}
.btn-calendar.left.work:hover{
    background-color: #0090aa;
    color: #fff;
}
.btn-calendar.left.work:active{
    background-color: #005588;
    color: #fff;
}
.btn-calendar.left.disable{
    background-color: #bbb;
    color: #fff;

}
.btn-calendar.right.work{
    background-color: #ff8f00;
    color: #fff;

}
.btn-calendar.right.work:hover{
    background-color: #aa6d00;
    color: #fff;

}
.btn-calendar.right.work:active{
    background-color: #ff8800;
    color: #fff;

}

.btn-calendar.right.disable{
    background-color: #bbb;
    color: #fff;

}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-content{
    width: auto;

}

.modal-footer.lg{
    position: relative;
    background-color: #444;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}



